<template>
  <div id="app">
    <router-view></router-view>
  </div>
</template>

<script>

export default {
  name: 'App',
}
</script>

<style>
#app {
  margin: 0;
  padding: 0;
  background-color: #17a2b8;
  min-height: 110vh;
}
</style>
