<template>
  <div id="add">
    <div class="container">
      <div id="add-row" class="row justify-content-center align-items-center">
        <div id="add-column" class="col-md-6">
          <div id="add-box" class="col-md-12">
            <div id="add-form" class="form">
              <h3 class="text-center text-info">Add Keycloak User</h3>
              <div class="form-group">
                <label for="firstname" class="text-info">First Name <span class="text-danger">*</span></label><br>
                <input v-model="firstName" type="text" class="form-control">
              </div>
              <div class="form-group">
                <label for="lastname" class="text-info">Last Name <span class="text-danger">*</span></label><br>
                <input v-model="lastName" type="text" class="form-control">
              </div>
              <div class="form-group">
                <label for="username" class="text-info">Username <span class="text-danger">*</span></label><br>
                <input v-model="username" type="text" class="form-control">
              </div>
              <div class="form-group">
                <label class="text-info">Email <span class="text-danger">*</span></label><br>
                <input v-model="email" type="email" class="form-control">
              </div>
              <div class="form-group">
                <label for="password" class="text-info">Password <span class="text-danger">*</span></label><br>
                <input v-model="password" type="password" class="form-control">
              </div>
              <div class="form-group">
                <label for="enabled" class="text-info"><span>Enabled </span> <span><input v-model="enabled" id="enabled" name="enabled" type="checkbox"></span></label> <br/>
              </div>
              <div class="form-group">
              <label for="realmRoles" class="text-info">Roles</label><br/>
                <select name="roles" class="form-control" multiple v-model="realmRoles">
                  <option v-for="(item, index) in rolesList" :key="index">{{item}}</option>
                </select>
              </div>
              <div class="form-group">
                <label for="attributes" class="text-info">Attributes</label><br/>
                <table class="table table-sm">
                  <thead>
                    <tr>
                      <td class="text-info">Key</td>
                      <td class="text-info">Value</td>
                      <td class="text-info">Action</td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="(attribute, index) in attributes" :key="index">
                      <td><input v-model="attribute.key" type="text" :readonly="index !== attributes.length - 1" class="form-control"></td>
                      <td><input v-model="attribute.value" type="text" :readonly="index !== attributes.length - 1" class="form-control"></td>
                      <td>
                        <button v-if="index === attributes.length - 1" class="btn btn-info" @click="addItem()"> Add </button>
                        <button v-else class="btn btn-danger" @click="deleteItem(index)">Delete</button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="form-group">
                <button @click="submit()" class="btn btn-info">Submit</button>
              </div>
            </div>
          </div>
          <div v-show="userAdded" class="toast alert alert-success" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
              <button type="button" class="ml-2 mb-1 close" @click="userAdded = false" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="toast-body">
              User was added successfully
            </div>
          </div>
          <div v-show="userError" class="toast alert alert-danger" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
              <button type="button" class="ml-2 mb-1 close" @click="userError = false" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="toast-body">
              {{errorMessage}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
const baseURI = 'http://localhost:8083/api/v1/vue';
  export default {
    name: 'AddUser',
    data() {
      return {
        firstName: null,
        lastName: null,
        password: null,
        email: null,
        username: null,
        enabled: false,
        realmRoles: [],
        attributes: [
          {
            key: null,
            value: null,
          },
        ],
        rolesList: [],
        userAdded: false,
        userError: false,
        errorMessage: '',
      }
    },
    mounted() {
      this.$http.get(baseURI + '/getroles', { headers: {'Access-Control-Allow-Origin': '*'}})
        .then((resp) => {
          this.rolesList = Object.keys(resp.data);
        });
    },
    methods: {
      submit() {
        let attr = JSON.parse(JSON.stringify(this.attributes));
        let keys = [];
        let values = [];
        attr.splice(-1,1);
        attr.forEach(element => {
          keys.push(element.key);
          values.push(element.value);
        });
        const obj = {
          firstName: this.firstName,
          lastName: this.lastName,
          password: this.password,
          email: this.email,
          username: this.username,
          enabled: this.enabled,
          keys: keys,
          values: values,
          realmRoles: this.realmRoles,
        };
        this.userError = false;
        if (this.allInfoFilled()) {
          this.$http.post(baseURI + '/add-user', obj, { headers: {'Access-Control-Allow-Origin': '*'}})
            .then((response) => {
              if (response.status === 200) {
                this.userAdded = true;
                this.userError = false;
                this.reset();
                this.$router.push({ name: 'Dashboard' });
              }
            })
            .catch(error => {
              console.log(error.response);
              this.errorMessage = 'Something went wrong';
              this.userError = true;
              this.userAdded = false;
            });
        } else {
          this.errorMessage = 'Please fill all the required fields';
          this.userError = true;
        }
      },
      reset() {
        this.firstName = null;
        this.lastName = null;
        this.password = null;
        this.email = null;
        this.username = null;
        this.enabled = false;
        this.realmRoles = [];
        this.attributes = [
          {
            key: null,
            value: null,
          },
        ];
      },
      allInfoFilled() {
        if (this.firstName && this.lastName && this.username && this.email && this.password) {
          return true;
        } else {
          return false;
        }
      },
      addItem() {
        this.attributes.push({
          key: null,
          value: null,
        });
      },
      deleteItem(index) {
        this.attributes.splice(index, 1);
      }
    },
  }
</script>

<style>
  #app{
    background-color: #17a2b8;
  }
  #add .container #add-row #add-column #add-box {
    margin-top: 40px;
    margin-bottom: 20px;
    max-width: 600px;
    max-height: 1200px;
    border: 1px solid #9C9C9C;
    background-color: #EAEAEA;
  }
  #add .container #add-row #add-column #add-box #add-form {
    padding: 20px;
  }
  input:read-only {
    background-color: white;
  }
</style>
