<template>
  <div id="dash">
    <div class="container">
      <div id="dash-row" class="row justify-content-center align-items-center">
        <div id="dash-column" class="col-md-10">
          <div id="dash-box" class="col-md-12">
          <h3 class="text-center text-info mb-4">Keycloak Users</h3>
            <table class="table table-striped mb-4">
              <thead>
                <tr>
                  <th scope="col" class="text-info">Username</th>
                  <th scope="col" class="text-info">First Name</th>
                  <th scope="col" class="text-info">Last Name</th>
                  <th scope="col" class="text-info">Email</th>
                  <th scope="col" class="text-info">Roles</th>
                  <th scope="col" class="text-info">Enabled</th>
                  <th scope="col" class="text-info">Edit</th>
                </tr>
              </thead>
              <tbody v-if="users.length">
                <tr v-for="(user, index) in users" :key="index">
                  <td>{{user.username}}</td>
                  <td>{{user.firstName}}</td>
                  <td>{{user.lastName}}</td>
                  <td>{{user.email}}</td>
                  <td>{{user.realmRoles.join()}}</td>
                  <td>{{user.enabled}}</td>
                  <td @click="edit(user.username)">
                    <div style="cursor: pointer">
                      <mdicon :size="18" name="pencil"/>
                    </div>
                  </td>
                </tr>
              </tbody>
              <tbody v-else>
                <tr>
                  <td v-if="!loading" colspan="7" class="text-center text-secondary">
                    <div class="spinner-border"></div>
                  </td>
                  <td v-else colspan="7" class="text-center text-secondary">
                    <div class="spinner-border"></div>
                  </td>
                </tr>
              </tbody>
            </table>
            <button class="btn btn-primary" @click="addUser">Add New User</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
const baseURI = 'http://localhost:8083/api/v1/vue/getusers';
export default {
  name: 'Dashboard',
  mounted() {
    this.loading = true;
    this.$http.get(baseURI, {
      //Testing the request body
      password: "admin",
      username: "admin",
      client_id: "admin-cli",
      grant_type: "password"
    })
      .then((response) => {
        this.users = response.data;
      })
      .finally(
        this.loading = false
      );
  },
  data() {
    return {
      users: [],
      loading: true,
    };
  },
  methods: {
    edit(username) {
      this.$router.push({ name: 'EditUser', params: { id: username }, });
    },
    addUser() {
      this.$router.push({ name: 'AddUser' });
    },
  }
}
</script>
<style>
  #app{
    background-color: #17a2b8;
  }
  #dash .container #dash-row #dash-column #dash-box {
    margin-top: 40px;
    margin-bottom: 20px;
    max-width: 1000px;
    max-height: 1200px;
    border: 1px solid #9C9C9C;
    background-color: #EAEAEA;
  }
  #dash .container #dash-row #dash-column #dash-box {
    padding: 20px;
  }
  input:read-only {
    background-color: white;
  }
  @keyframes spinner-border {
    to { transform: rotate(360deg); }
  } 
  .spinner-border{
      display: inline-block;
      width: 2rem;
      height: 2rem;
      vertical-align: text-bottom;
      border: .25em solid currentColor;
      border-right-color: transparent;
      border-radius: 50%;
      -webkit-animation: spinner-border .75s linear infinite;
      animation: spinner-border .75s linear infinite;
  }
  .spinner-border-sm{
      height: 1rem;
      border-width: .2em;
  }
</style>