<template>
  <div id="add">
    <div class="container">
      <div id="add-row" class="row justify-content-center align-items-center">
        <div id="add-column" class="col-md-6">
          <div id="add-box" class="col-md-12">
            <div v-if="loading" id="add-form" class="form">
              <h3 class="text-center text-info">Edit Keycloak User {{originalUsername}}</h3>
              <div class="text-center text-secondary">
                <div class="spinner-border"></div>
              </div>
            </div>
            <div v-else id="add-form" class="form">
              <h3 class="text-center text-info">Edit Keycloak User {{originalUsername}}</h3>
              <div class="form-group">
                <label for="username" class="text-info">Username</label><br>
                <input readonly v-model="username" type="text" class="form-control">
              </div>
              <div class="form-group">
                <label for="firstname" class="text-info">First Name <span class="text-danger">*</span></label><br>
                <input v-model="firstName" type="text" class="form-control">
              </div>
              <div class="form-group">
                <label for="lastname" class="text-info">Last Name <span class="text-danger">*</span></label><br>
                <input v-model="lastName" type="text" class="form-control">
              </div>
              <div class="form-group">
                <label class="text-info">Email <span class="text-danger">*</span></label><br>
                <input v-model="email" type="email" class="form-control">
              </div>
              <div class="form-group">
                <label for="password" class="text-info">Password <span class="text-danger">*</span></label><br>
                <input v-model="password" type="password" class="form-control">
              </div>
              <div class="form-group">
                <label for="enabled" class="text-info"><span>Enabled </span> <span><input v-model="enabled" id="enabled" name="enabled" type="checkbox"></span></label> <br/>
              </div>
              <div class="form-group">
              <label for="realmRoles" class="text-info">Roles</label><br/>
                <select name="roles" class="form-control" multiple v-model="realmRoles">
                  <option v-for="(item, index) in rolesList" :key="index">{{item}}</option>
                </select>
              </div>
              <div class="form-group">
                <label for="attributes" class="text-info">Attributes</label><br/>
                <table class="table table-sm">
                  <thead>
                    <tr>
                      <td class="text-info">Key</td>
                      <td class="text-info">Value</td>
                      <td class="text-info">Action</td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="(attribute, index) in attributes" :key="index">
                      <td><input v-model="attribute.key" type="text" :readonly="index !== attributes.length - 1" class="form-control"></td>
                      <td><input v-model="attribute.value" type="text" :readonly="index !== attributes.length - 1" class="form-control"></td>
                      <td>
                        <button v-if="index === attributes.length - 1" class="btn btn-info" @click="addItem()"> Add </button>
                        <button v-else class="btn btn-danger" @click="deleteItem(index)">Delete</button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="form-group">
                <button @click="submit()" class="btn btn-info">Submit</button>
              </div>
            </div>
          </div>
          <div v-show="userAdded" class="toast alert alert-success" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
              <button type="button" class="ml-2 mb-1 close" @click="userAdded = false" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="toast-body">
              User was added successfully
            </div>
          </div>
          <div v-show="userError" class="toast alert alert-danger" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
              <button type="button" class="ml-2 mb-1 close" @click="userError = false" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="toast-body">
              {{errorMessage}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
const baseURI = 'http://localhost:8083/api/v1/vue';
  export default {
    name: 'EditUser',
    data() {
      return {
        firstName: null,
        lastName: null,
        password: null,
        email: null,
        username: null,
        enabled: false,
        realmRoles: [],
        attributes: [
          {
            key: null,
            value: null,
          },
        ],
        rolesList: [],
        userAdded: false,
        userError: false,
        errorMessage: '',
        loading: true,
      }
    },
    methods: {
      submit() {
        let attr = JSON.parse(JSON.stringify(this.attributes));
        let keys = [];
        let values = [];
        attr.splice(-1,1);
        attr.forEach(element => {
          keys.push(element.key);
          values.push(element.value);
        });
        const obj = {
          firstName: this.firstName,
          lastName: this.lastName,
          password: this.password,
          email: this.email,
          username: this.username,
          enabled: this.enabled,
          keys: keys,
          values: values,
          realmRoles: this.realmRoles,
        };
        this.userError = false;
        if (this.allInfoFilled()) {
          this.$http.post(baseURI + '/edit-user/' +  this.$route.params.id, obj, { headers: {'Access-Control-Allow-Origin': '*'}})
            .then((response) => {
              if (response.status === 200) {
                this.userAdded = true;
                this.userError = false;
                this.reset();
                this.$router.push({ name: 'Dashboard' });
              }
            })
            .catch(error => {
              console.log(error.response);
              this.errorMessage = 'Something went wrong';
              this.userError = true;
              this.userAdded = false;
            });
        } else {
          this.errorMessage = 'Please fill all the required fields';
          this.userError = true;
        }
      },
      reset() {
        this.firstName = null;
        this.lastName = null;
        this.password = null;
        this.email = null;
        this.username = null;
        this.enabled = false;
        this.realmRoles = [];
        this.attributes = [
          {
            key: null,
            value: null,
          },
        ];
      },
      allInfoFilled() {
        if (this.firstName && this.lastName && this.username && this.email && this.password) {
          return true;
        } else {
          return false;
        }
      },
      addItem() {
        this.attributes.push({
          key: null,
          value: null,
        });
      },
      deleteItem(index) {
        this.attributes.splice(index, 1);
      },
      isNotCpabe(key) {
        if (key !== 'cpabe') {
          return true;
        } else {
          return false;
        }
      }
    },
    computed: {
      originalUsername() {
        return this.$route.params.id;
      },
    },
    mounted() {
      this.loading = true;
      this.$http.get(baseURI + '/getroles', { headers: {'Access-Control-Allow-Origin': '*'}})
        .then((resp) => {
          this.rolesList = Object.keys(resp.data);
        });
      this.$http.get(baseURI + '/getusers', { headers: {'Access-Control-Allow-Origin': '*'}})
        .then((response) => {
          let allusers = response.data;
          allusers.forEach(element => {
            if (element.username === this.$route.params.id) {
              this.firstName = element.firstName;
              this.lastName = element.lastName;
              this.password = null;
              this.email = element.email;
              this.username = element.username;
              this.enabled = element.enabled;
              this.realmRoles = element.realmRoles;
              this.$http.get(baseURI + '/atts/' + this.$route.params.id, { headers: {'Access-Control-Allow-Origin': '*'}})
                .then((res) => {
                  this.attributes = [];
                  for (const [key, value] of Object.entries(res.data)) {
                    if (this.isNotCpabe(key))
                    this.attributes.push(
                      { 
                        "key": key,
                        "value": value[0]
                      },
                    );
                  }
                  this.attributes.push({
                    key: null,
                    value: null,
                  });
                  this.loading = false;
                });
            }
          });
        })
    },
  }
</script>

<style>
  #app{
    background-color: #17a2b8;
  }
  #add .container #add-row #add-column #add-box {
    margin-top: 40px;
    margin-bottom: 20px;
    max-width: 600px;
    max-height: 1200px;
    border: 1px solid #9C9C9C;
    background-color: #EAEAEA;
  }
  #add .container #add-row #add-column #add-box #add-form {
    padding: 20px;
  }
  input:read-only {
    background-color: white;
  }
  @keyframes spinner-border {
    to { transform: rotate(360deg); }
  } 
  .spinner-border{
      display: inline-block;
      width: 2rem;
      height: 2rem;
      vertical-align: text-bottom;
      border: .25em solid currentColor;
      border-right-color: transparent;
      border-radius: 50%;
      -webkit-animation: spinner-border .75s linear infinite;
      animation: spinner-border .75s linear infinite;
  }
  .spinner-border-sm{
      height: 1rem;
      border-width: .2em;
  }
</style>