<template>
  <div class="home">
    <section>
      <img src="../assets/ASCLEPIOS.png" class="rounded mx-auto d-block" width="20%" height="20%">
      <!-- <div class="d-flex justify-content-center mt-4">
        <nav aria-label="breadcrumb">
          <a href="">Home</a>
          <a href="" class="ml-5">Link 1</a>
          <a href="" class="ml-5">Link 2</a>
          <a href="" class="ml-5">Link 3</a>
        </nav>
      </div> -->
      <div class="row justify-content-center " style="padding-top:50px">
		
        <div class="col-xl-12 col-sm-12 col-md-6 col-lg-6 text-center">

            <div class="list-group">
              <img style="margin-right: -40px; z-index: 1; position: relative" src="../assets/ra.png">
              <button style="margin-right: 30px; z-index: 0; position: relative; padding-left: 50px; padding-top: 10px; padding-bottom: 10px" class="btn btn-info" @click="changeRoute('Dashboard')">ASCLEPIOS Registration Authority</button>
              <img style="margin-right: -40px; z-index: 1; position: relative" src="../assets/ample.png">
              <button style="margin-right: 30px; z-index: 0; position: relative; padding-left: 50px; padding-top: 10px; padding-bottom: 10px" class="btn btn-info" @click="changeRoute('Dashboard')">ASCLEPIOS Models and Policies Editors (AMPLE)</button>
              <img style="margin-right: -40px; z-index: 1; position: relative" src="../assets/keytray.png">
              <button style="margin-right: 30px; z-index: 0; position: relative; padding-left: 50px; padding-top: 10px; padding-bottom: 10px" class="btn btn-info" @click="changeRoute('Dashboard')">ASCLEPIOS KeyTray</button>

            </div>

        </div>
        <div class="col-xl-12 col-sm-12 col-md-6 col-lg-6 text-center" style="padding-top:50px">

          <div class="list-group">

            <img style="margin-right: -40px; z-index: 1; position: relative" src="../assets/abac.png">
            <button style="margin-right: 30px; z-index: 0; position: relative; padding-left: 50px; padding-top: 10px; padding-bottom: 10px" class="btn btn-info" onclick="location.href='https://gitlab.com/asclepios-project/abac-authorization/-/releases';">Download ASCLEPIOS Attribute Based Access Control (ABAC) library </button>

          </div>

        </div>

        <div class="col-xl-12 col-sm-12 col-md-6 col-lg-6 text-center" style="padding-top:50px">

          <div class="list-group">
            <img style="margin-right: -40px; z-index: 1; position: relative" src="../assets/sse.png">
            <button style="margin-right: 30px; z-index: 0; position: relative; padding-left: 50px; padding-top: 10px; padding-bottom: 10px" class="btn btn-info" @click="changeRoute('Dashboard')">ASCLEPIOS Searchable Symmetric Encryption Server (SSE)</button>

            <img style="margin-right: -40px; z-index: 1; position: relative" src="../assets/fe.png">
            <button style="margin-right: 30px; z-index: 0; position: relative; padding-left: 50px; padding-top: 10px; padding-bottom: 10px" class="btn btn-info" @click="changeRoute('Dashboard')">ASCLEPIOS Functional Encryption Server (FE)</button>

          </div>

        </div>

        <div class="col-xl-12 col-sm-12 col-md-6 col-lg-6 text-center" style="padding-top:50px">

          <div class="list-group">
            <img style="margin-right: -40px; z-index: 1; position: relative" src="../assets/ceea.png">
            <button style="margin-right: 30px; z-index: 0; position: relative; padding-left: 50px; padding-top: 10px; padding-bottom: 10px" class="btn btn-info" @click="changeRoute('Dashboard')">ASCLEPIOS Cybersecurity, Encryption and Access Analytics for Healthcare Providers (CEEA)</button>
            <img style="margin-right: -40px; z-index: 1; position: relative" src="../assets/apam.png">
            <button style="margin-right: 30px; z-index: 0; position: relative; padding-left: 50px; padding-top: 10px; padding-bottom: 10px" class="btn btn-info" @click="changeRoute('Dashboard')">ASCLEPIOS Privacy Analytics Module (APAM)</button>

          </div>

        </div>

      </div>
    </section>
  </div>
</template>
<script>
  export default {
    name: 'Home',
    methods: {
      changeRoute(route) {
        this.$router.push({ name: `${route}` });
      }
    }
  }
</script>
<style>
  #app {
    background-color: #eeeeee;
  }
  .list-group-item {
    background-color: #eeeeee;
    display: inline;
    border: 0 none;
  }
  .list-group {
    display: inline;
  }
  a {
    color: #00c1de;
  }
</style>

